<span style="font-size:100%">

수업은 모두 열심히 들으셨나요?

간혹 강의에서 언급되지 않은 내용이 문제로 나올 수 있습니다.<br>
그럴땐 강의 내용 외 문제는 구글링을 통해 해결해주세요<br></span>
<span style="font-size:80%">
(구글링 또한 개발자가 갖쳐야할 역량 중에 하나랍니다 😊)
</span>

---

<span style="font-size:80%">[문제1]<br><br></span>
아래 리스트에 들어있는 값의 평균을 구하는 코드를 작성해주세요

x = [34, 22, 10, 3, 55, 66]

In [1]:
x = [34, 22, 10, 3, 55, 66]
sum(x)/len(x)

31.666666666666668

<span style="font-size:80%">[문제2]<br><br></span>
리스트 안에 있는 데이터를 오름차순으로 정렬하는 메소드를 모두 골라주세요

1. upper()
2. low()
3. sort()
4. hight()
5. sorted()

답변 : 3,5 번

<span style="font-size:80%">[문제3]<br><br></span>
리스트 x가 있을 때 x.append(7)과 결과가 동일한 것을 모두 골라주세요


1. x[-1:] = [7]
2. x.insert(len(x), 7)
3. x[0:] = 7
4. x[len(x):] = 7
5. x[len(x):] = [7]

In [2]:
124

124

답변 : 1,2,4

<span style="font-size:80%">[문제4]<br><br></span>
리스트의 모든 요소를 삭제하는 메서드를 골라주세요

1. remove
2. clean
3. pop
4. clear
5. reverse

답변 : 4번

<span style="font-size:80%">[문제5]<br><br></span>
[3.1, 6.7, 4.4]가 들어있는 리스트의 값을 문자열로 변환 후 다시 리스트로 만들어 변수 x에 담는 코드를 골라주세요

1. x = list(str, [3.1, 6.7, 4.4])
2. x = map(str, [3.1, 6.7, 4.4])
3. x = str([3.1, 6.7, 4.4])
4. x = list(map(str, [3.1, 6.7, 4.4]))
5. x = map(int, [3.1, 6.7, 4.4])

답변 : 2번